@import "./variables";

.borderBronze {
  border: 10px solid $color-bronze;
}

.colorBronze {
  color: $color-bronze;
}

.buttonBronze{
  border: 2px solid $color-bronze;
  background: $color-bronze;
}