@import "../../common/styles/_template.scss";

.li {
  @extend %li;
}

.borderBottom {
  border-bottom: 2px solid #ddd;
}

.borderTop {
  margin-top: 15px;
  border-top: 2px solid #ddd;
}

.subMenu {
  @extend %subMenu;
}

.check::before {
  @extend %check;
}
