.box {
  padding: 16px;
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  min-height: 215px;
  background-color: #fff;
  box-sizing: border-box;
}

.boxTitle {
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 33px;
  font-weight: 700;
}

.textTitle {
  color: #666;
  font-size: 16px;
  font-weight: 500;
  min-height: 75px;
  margin: 0;
}

.price {
  float: right;
  font-size: 28px;
  font-weight: 600;
}
