$color-bronze: #e0b48d;

.wrapper {
  box-sizing: border-box;
  line-height: 1.42857143;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  padding: 60px 15px;
  cursor: pointer;
  opacity: 0.9;
  width: 25%;
  float: left;
}

.box {
  padding: 16px;
  border: 10px solid #eee;
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  min-height: 215px;
  background-color: #fff;
  box-sizing: border-box;
}

.bronze {
  border-color: $color-bronze;
}

.h3 {
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 33px;
  font-weight: 700;
  color: $color-bronze;
}

.p {
  color: #666;
  font-size: 16px;
  font-weight: 500;
  min-height: 75px;
  margin: 0;
}

.price {
  float: right;
  font-size: 28px;
  font-weight: 600;
  color: $color-bronze;
}

.ul {
  padding: 0;
  list-style: none;
}

.li {
  font-size: 15px;
  font-weight: 500;
  padding: 13px 0;
}

.liSubMenu {
  font-size: 13px;
  font-weight: 500;
  padding: 13px 0 2px 15px;
}

.selectBox {
  text-align: center;
  padding: 0;
  border: 2px solid $color-bronze;
  background: $color-bronze;
  color: #fff;
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 45px;
  border-radius: 5px;
  text-decoration: none;
}

.check::before {
  content: "v ";
}

.borderBottom {
  border-bottom: 2px solid #ddd;
}

.borderTop {
  border-top: 2px solid #ddd;
}
